<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Android Compatibility Tests" parallel="methods" thread-count="1" verbose="1">

    <test name="Android Compatibility Test-1" parallel="methods" enabled="true">
        <classes>
            <class name="sprint3.Parallel">
            </class>
        </classes>
    </test>


</suite>